* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(https://s3-alpha-sig.figma.com/img/3831/5c7e/9c01e5a7294e7b1cbebc53a59a7d48e8?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=feJXq1duA1LGskqI~YNYuy3DcvdLNgHTdYy9-cbL7dR5WRBWSGKeqsy1JFSJrCj2Kcjblpnz2dChPfwx82Ru68HvTVWPdLB7pflzoLdbsvYNkCIcewh4J1wsT0~O7bAOZRk7U7kXt6XXXGmPV3lHAMnDC1M8ZO0jQsL5qLezQzMqYo6DGM2A2R9u8XQGlZt~LY7vrjytn5WePKD9i2GrxMR~XOSPrB9gktRQRc3nSaeeCqt7NmCRaT9YidXzCiOCuWuRihH8z6mSw5ExPtG5xXzhArW2YDB-dZl8YJ2dGgYtNvFMq-Re-3Cb~nFHJ89PPjxbdoRuub-5cPlmFUeo7A__);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: scroll;
}

.head-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-name {
  color: white;
  margin: auto 0;
  padding-top: 0;
  font-size: 30px;
}

.button {
  border-radius: 4px;
  align-items: center;
  border: 2px solid #1a3e3e;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: white;
  background-color: #1a3e3e;
  font-size: 20px;
}

.button:hover {
  background-color: white;
  color: #1a3e3e;
  cursor: pointer;
  transition-duration: 1s;
}

.logo-block {
  margin: 30px;
}

ul {
  color: rgb(255, 255, 255);
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: auto 0;
}

ul li:hover {
  color: rgb(242, 227, 19);
  cursor: pointer;
}

li {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  text-decoration: none;
  font-size: 20px;
}

.title-block {
  color: white;
  font-size: 70px;
  margin: 90px;
  font-weight: bolder;
  display: flex;
  justify-content: start;
}

.info-table {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 90px;
  justify-content: space-between;
  border-radius: 10px;
  height: 180px;
  width: 1300px;
  border: 3px;
  backdrop-filter: blur(5px);
  border: 0px;
  background-color: #ffffff33;
  align-items: center;
}

.location {
  border-radius: 10px;
  border: 1px;
  height: 50px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.data {
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  height: 50px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.members {
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  height: 50px;
  width: 200px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.members img {
  margin: 20px;
  cursor: pointer;
}

.data img {
  margin: 20px;
  cursor: pointer;
}

.location img {
  margin: 20px;
  cursor: pointer;
}

.second-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.programm {
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  transition: 200ms;
  margin: 20px;

  flex-wrap: wrap;
}
.programm:hover {
  background: #044042;
  color: white;
}

.search_input {
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  height: 50px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 50px;
  text-align: center;
  padding-top: 5px;
  background: none;
  color: #ffffff;
}

.first__word {
  color: #f2be22;
}

.second__word {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}

.main__text {
  color: black;
}

.programs-main-container {
  height: 90vh;
  background-repeat: no-repeat;
  background-color: #f3f5f4;
}

.yellow-word {
  color: #f2be22;
}



.variant-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}

.block__button {
  margin: 70px;
  text-align: center;
}

.button-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 90px;
  padding: 20px;
}

.text__block {
  display: flex;
  flex-direction: column;
}

.main-four-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 5px;
}

.image_link {
  position: absolute;
}

.aboutus-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 50px;
    padding-block: 50px;
    gap: 30px;
    max-width: 580px;
    padding-inline: 20px;
  }

  .pictures {
    position: relative;
    margin-right: 50px;
  }
  
  .video-block {
    position: relative;
    margin-left: 150px;
    margin-top: 100px;
  }

.text-block-about-us {
  width: 100%;
  margin-left: 800px;
  margin-bottom: 200px;

}

.text-block-about-us > h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-block-about-us > p{
margin-bottom: 20px;
}